*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif;
}

.container {
    /* border: 3px solid black; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.rod {
    font-size: 1.8rem;
    background-color: red;
    width: 25rem;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
    color: white;
    position: relative;  /* without this rod will not move */
}

#rod2 {
    background-color: orange;
}

.ball {
    background-color: rgb(47, 44, 78);
    width: 30px;
    height: 30px;
    position: absolute;
    /* bottom: 3rem; */
    top: 3rem;
    left: calc(50% - 15px);
    border-radius: 50%;
}